name: RunTests

on: [push]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: [3.7, 3.8, 3.9]

    steps:
      - name: Check Out Repo
        uses: actions/checkout@v2

      - name: Build images
        run: |
          docker-compose build
